
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
    flex: 1 1 auto; 
    text-align: center;
}

#sect1{
    background: url(./img/bg7.png) center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

#sect2{
    background-color: rgb(255, 228, 225);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

.titre{
    
    text-align: center;
    font-family: 'Dancing Script', cursive, strong;
    font-size: 5rem;
    color: rgb(255, 182, 193);
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-bottom: 5px;
    margin-left: 145px;
}

.moi {
    font-size: 3rem;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: flex-start;
    margin-left: 400px;
    margin-bottom: 2px;
}

.left{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.button{ 
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Faustina', cursive;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgb(255, 133, 151);
    border-radius: 8px;
    padding: 10px 10px;
    box-shadow: 0 0 10px rgb(250, 70, 97);
    transition: all 0.3s ease;
    display: inline-block;
    max-width: 100px;
    margin-left: 50px;
    padding : 20px;
    width: 100px;
}
    
.button:hover{
    background-color: rgb(255, 133, 151);
    box-shadow: 0 0 10px rgb(250, 70, 97);
    transform: scale(1.05);
}
    
.button:active{
    transform: scale(0.95);
    box-shadow: 
    inset -2px -2px 3px #000,
    inset 2px 2px 3px rgba(0, 0, 0, 0.6)
    ;
}

.intro{
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Faustina';
    color: #000;
    line-height: 1.6;
    /* display: block;
    justify-content: flex-end; */
    margin-bottom: 50px;
    margin: 60px auto; 
    padding: 40px;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgb(188, 143, 143); 
    padding: 40px;
    border-radius: 12px;
}

.fade-in,.fade-in-btn{ 
    opacity: 0;
    transition: opacity 0.7s ease-in;
}
.fade-in.appear, .fade-in-btn{
    opacity: 1;
}

.acquis>div{
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;
    max-width: 300px;
}
.acquis{
    font-size: 1.75rem;
    font-family: 'Faustina';
    margin-bottom: 10px;
    color: #000;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-style: bold;
}

.projets{
    font-size: 3.75rem;
    text-align: center;
    color: rgb(255, 133, 151);
    font-family: 'Faustina';
    margin: 0; 
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}


h4{
    color: rgb(255, 133, 151);
    font-size: 2rem;
    font-family: 'Dancing Script', cursive, strong;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.container{
    display: flex;
    align-items: center; /* ✅ centre verticalement */
    gap: 40px;
    
}


.gauche-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 2;
}

.colonne-gauche,.colonne-gauche2{
    border: 2px ;
    flex: 1;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgb(188, 143, 143);
    padding: 70px; 
    margin: 70px;
    border-radius: 12px;
    font-size: 1.15rem;
    max-width: 800px;
    
}


.colonne-droite{
    border: 2px ;
    flex: 1;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgb(188, 143, 143);
    padding: 70px; 
    margin: 70px;
    border-radius: 12px;
    font-size: 1.15rem;
    max-width: 550px;  
}

.img-wrapper {
    border: 2px ;
    overflow: visible;
}

.img-CCICampus{
    display: block;
    max-width: 800px;
    height: auto;
    object-fit: contain;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform .1s;
    margin-top: 70px; 
}

.img-server{
    display: block;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin: 50px auto 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform .1s;
 }

.logo-lilou{
    display: block;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform .1s;
    margin-top: 50px;
    
    
}

.img-CCICampus:hover{
     -ms-transform: scale(1.25);
     -webkit-transform: scale(1.25);
      transform: scale(1.25);
}

.img-server:hover{
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);

}
.logo-lilou:hover{
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);

}

ul{
    color: #000;
    font-family: 'Faustina'; 
    text-align: left;
}
p{
    color: #000;
    font-family: 'Faustina'; 
}
.button-cv{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Faustina';
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(255, 133, 151) ;
    border-radius: 10px;
    padding: 20px 24px;
    box-shadow: 0 0 60px -10px rgb(250, 70, 97);
    transition: all .3s;
 
}

.button-cv:hover{
    transform: scale(1.05);
    background-color: rgb(255, 133, 151);
    box-shadow: 0 0 60px -2px rgb(250, 70, 97);
}

.button-cv:active {
    transform: scale(0.95);
    box-shadow:
      inset -2px -2px 3px #000,
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown{
    max-width: 300px;
    border-radius: 5px;
    color:white;
    background-color:rgb(240, 128, 128) ;
    overflow: hidden;
    margin-right: 30px;
}

.btn-top{
    padding: 30px;
    width: 200px;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    background: rgb(255, 133, 151);
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    color: white;
}


.bloc-links{
    position: absolute;
    width: 200px;
    padding: 0 20px;
    transition: height 0.3s ease-in-out;
    height: 0;
    overflow: hidden;
    background: rgb(255, 133, 151);
    border-radius:  0 0 5px 5px;
}
.dropdown.open .bloc-links {
    height: 100px;
}

.bloc-links li{
    list-style-type: none;
    padding: 5px 0;
    
}
.block-links li a{
    font-size: 18px;
    color: white;
    /* margin-left: 5px; */
}
.bloc-links li:last-child{
    padding-bottom: 25px;
}


.bloc{
    /* aligne verticalement */
    flex:1; /* leur donne la même place */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 100px 0;
}